:root {
  --roxo-menu: #B0AAFF;
  --roxo-escuro-menu: #504B98;
  --roxo-botao: #7766D7;
  --roxo-botao-escuro: #504B98;

  --cinza-textos: #675C5C;
  --cinza-cards: #F0F0F0;
  --cinza-competencias: #D9D9D9;
  --cinza-botao: #72727E;
  --cinza-botao-escuro: #5E5E6A;

  --verde-botao: #3EA670;
  --verde-botao-escuro: #278455;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
